*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    width: 100%;
    height: 800px;
    background-image: url(assets/Banner_bg.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 120px;
}

.content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    
}

.content p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 168%;
    text-align: center;
    color: #FFFFFF;
}

.content_subscript{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168%;
    text-align: center;
    color: #EEEEEE;
    margin-top: 24px;
}

.content_experience{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 168%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    
}

.skills{
    width: 100%;
    text-align: center;
    Padding: 0px 0px 120px;
    background-color: #f9f9f9;
    
}

.section_heading{
    font-size: 28px;
    color: #A361FF; 
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    width: 100%;
    text-align: center;
    padding:100px 0px 60px;
}



.skill_div{
    display: flex; 
    justify-content: center;
    
}

.skill_png_div{
    width: auto;
    text-align: center;
}

.skill_png_div img{
    width: 60%;
}

.skill_png_div h2{
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #666666;
}

.projects{
        text-align: center;
        
}

.projects_div{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.project_card {
    width: 450px !important;
    display: inline-block;
    text-align: left;
    
}
.project_card img{
    width: 450px;
    height: auto;
    border-radius: 5px;
}

.project_card img:hover{
    width: 455px;
    transition: 0.5s;
}

.project_card h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-top: 20px;
    color: #666666;
}

.project_card div{
    padding-bottom: 100px;
}

.project_card p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 168%;
    color: #666666;
    padding-top: 10px;
}

.project_card p a{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #666666;
    text-decoration: none;
}

.work_experience img{
    width: 100%;
    height: auto;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    justify-content: center;
    width: 80%;
    margin: auto;
   
  }

  /* Slides */

  
  .mySlides {
    display: none;
    padding: 80px;
    width: 70%;
    text-align: center;
    border: 2px solid #A361FF;
    margin: auto;
    vertical-align: middle !important;
    border-radius: 5px;
  }

  .mySlides img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 60px;
  }

  .profile_content{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .mySlides h1{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 168%;
    color: #000000;
  }

  .mySlides h2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 168%;
    color: #000000;
  }
  
  .mySlides p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 168%;
    color: #000000;
    text-align: left;
  }

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 50px;
    padding: 16px;
    color: #709BFD;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    margin:10px 0px 120px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 4px;
    border: 2px Solid #709BFD;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #709BFD;
  }
  
  .footer{
    background: linear-gradient(90deg, #3CB7F5, #A361FF 50%);
    text-align: center;
  }

  .footer img{
    width: 40px;
    margin: 30px 5px;
  }

  .About_me{
    width: 70%;
    margin: 0px auto 120px auto;
  }


  .About_me img{
    width: 200px;
  }

  .About_me p{
    padding-bottom: 18px;
  }
